<div class="container">
  <div class="col-md-12">
    <div class="row border-bottom">
      <div class="col-md-9 pt-1">
        <h1>Salesforce Integration Example</h1>
      </div>
      <div class="col-md-3 pt-3 float-right">
        <div class="input-group input-group-sm">
          <label class="col-md-3 col-form-label">Data</label>
          <div class="col-md-9 form-group">
            <select type="number" class="form-control" [(ngModel)]="month" (change)="processPickListChange();">
              <option *ngFor="let monthDisplay of months" [ngValue]="monthDisplay">{{monthDisplay.displayName}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="goal && time && chartOptions" id="container" class="pt-5">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" style="width: 100%; height: 400px; display: block;"></highcharts-chart>
  </div>

  <div *ngIf="goal || time">
    <div class="col-md-12">
      <div class="row mt-5 ">
        <div class="col-md-12">
          <h2>Chart Data</h2>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row border-bottom mt-2 pb-2 mb-3">
        <div *ngIf="time" class="col-md-6">
          <h5 class="text-dark">Actual Time Data <small>[{{time.length ? time.length : 0}} records]</small></h5>
        </div>
        <div *ngIf="goal" class="col-md-6">
          <h5 class="text-dark text-right">Goal = {{goal.goal}} (hours) <small>[{{goal.averagePerDay | number:'0.0-2'}} average per day]</small></h5>
        </div>
      </div>

      <div *ngIf="time">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Day</th>
            <th>Date</th>
            <th>Hours</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let thisTime of time; let index=index;">
            <td>{{index+1}}.</td>
            <td>{{thisTime.date | date:'MM/dd/yyyy'}}</td>
            <td>{{thisTime.hours | number: '0.2'}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
